target/
!.mvn/wrapper/maven-wrapper.jar

## GENERAL ##
*.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Package Files #
*.iml
*.log
*.jar
*.war
*.ear
*.project
*derby.log
*/.idea/**
**/target/**
*/bin/**
*.settings/**
*.classpath/**
*.classpath
*/derby.log
rebuild.bat
*~
/***/derby.log# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
/target/
/bin/